html,body{
    position: fixed;
    section{
        overflow: scroll;
        width: 7.5rem;
        height: 12.06rem;
        background: url(../images/fixed_bg.png) center no-repeat;
        background-size: cover;
        >div{
            width: 7.5rem;
            &:nth-child(1){
                position: relative;
                height: 5.07rem;
                background: url(../images/xianchang_01.png) center no-repeat;
                background-size: cover;
                div{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 6.4rem;
                    height: 3.6rem;
                    background-color: #000000;
                    video{
                        display: block;
                        height: 100%;
                    }
                }
            }
            &:nth-child(2){
                height: 6.09rem;
                background: url(../images/xianchang_02.png) center no-repeat;
                background-size: cover;
            }
            &:nth-child(3){
                height: 4.76rem;
                background: url(../images/xianchang_03.png) center no-repeat;
                background-size: cover;
            }
            &:nth-child(4){
                height: 2.94rem;
                background: url(../images/xianchang_04.png) center no-repeat;
                background-size: cover;
            }
            &:nth-child(5){
                height: 2.89rem;
                background: url(../images/xianchang_05.png) center no-repeat;
                background-size: cover;
            }
            &:nth-child(6){
                height: 2.74rem;
                background: url(../images/xianchang_06.png) center no-repeat;
                background-size: cover;
            }
            &:nth-child(7){
                height: 3.94rem;
                background: url(../images/xianchang_07.png) center no-repeat;
                background-size: cover;
            }
        }
    }
    div.arrow{
        position: fixed;
        bottom: .6rem;
        left: 0;
        right: 0;
        margin: auto;
        width: .42rem;
        height: .24rem;
        background: url(../images/arrow.gif) center no-repeat;
        background-size: cover;
        z-index: 2;
    }
}